.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #38419D;
}

.page h2{
  color: #FFE3BB;
  text-shadow: black 0px 4px 8px;
}

.aboutus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: #FFE3BB;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 5px;
  padding-bottom: 5px;
}

.profile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile .aib img {
  max-width: 100%;
  height: 100%;

}

.fornow {
  text-align: center;
}

@media (min-width: 768px) {
  .aboutus {
    grid-template-columns: repeat(4, 1fr);
    max-width: 960px;
    margin: 0 auto;
  }
}
